version: "3.9"

services:
  api:
    build: .
    image: smart-payment-router-backend:latest
    container_name: smart-payment-router-backend
    ports:
      - "8000:8000"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
    restart: unless-stopped

